{% extends 'base.html.twig' %}

{% block title %}LampStudio{% endblock %}

{% block body %}
    <div class="recommendations-block">
        <div class="recommendations-block__container swiper-container">
            <div class="recommendations-block__container__list swiper-wrapper">
                <div class="swiper-slide">
                    {% for serial in recommendations %}
                        <div class="recommendations-block__container__list__poster">
                            <a href="{{ url('anime_player', {id: serial.id}) }}">
                                <img src="{{ serial.posterURL }}">
                            </a>
                        </div>
                    {% endfor %}
                    <div class="recommendations-block__container__text">
                        <h2>Выбирай и смотри!</h2>
                        <p>Озвучка от LampStudio</p>
                        <h3>Лучшее в категории ТВ Сериалы</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if newSerials|length %}
        <div class="new-block">
            <div class="__container">
                <div class="lamp-content">
                    <div class="new-block__header">
                        <h2>НОВИНКИ</h2>
                    </div>
                    <div class="new-block__section">
                        {% for serial in newSerials %}
                            <div class="new-block__section__item">
                                <a href="{{ url('anime_player', {id: serial.id}) }}">
                                    <img src="{{ serial.posterURL }}">
                                </a>
                                <div class="new-block__section__item__header">
                                    <h2><a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.name }}</a></h2>
                                    <h3><a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.nameOrig }}</a>
                                    </h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="anime-list__block">
        <div class="__container">
            <div class="flex-row">
                <div>
                    <div class="anime-list__block__header">
                        <h2>СПИСОК АНИМЕ</h2>
                    </div>
                    <div class="anime-list__block__section" id="anime-section">
                        {% for serial in recommendations %}
                            <div class="anime-list__block__section__item">
                                <a href="{{ url('anime_player', {id: serial.id}) }}">
                                    <img src="{{ serial.posterURL }}" class="anime-list__block__section__item__image">
                                </a>
                                <div class="anime-list__block__section__item__detail">
                                    <div class="anime-list__block__section__item__detail__header">
                                        <h2><a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.name }}</a>
                                        </h2>
                                        <h2>
                                            <a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.nameOrig }}</a>
                                        </h2>
                                    </div>
                                    <div class="anime-list__block__section__item__detail__genre">
                                        <h3>ЖАНРЫ:
                                            {% for genre in serial.category %}
                                                {{ genre.name }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </h3>
                                    </div>
                                    <div class="anime-list__block__section__item__detail__description">
                                        <h3>{{ serial.shortDescription }}</h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="anime-section__empty" style="display: none;" id="serials-empty-container">
                        По вашему запросу сериалов не найдено!
                    </div>
                    <div class="anime-list__block__container">
                        <button class="anime-list__block__container__button"><a href="{{ url('anime') }}">Полный список
                                аниме</a>
                        </button>
                    </div>
                </div>
                <div class="anime-list__block__filter">
                    <div class="anime-list__block__filter__header-block">
                        <h3>ФИЛЬТР</h3>
                        <div class="anime-list__block__filter__header-block__figure-up"></div>
                    </div>
                    <div class="anime-list__block__filter__container" id="filter-container">
                        <div class="anime-list__block__filter__container__item">
                            <div class="anime-list__block__filter__container__item__header">
                                <p>Жанры</p>
                            </div>
                            <div class="anime-list__block__filter__container__item__select">
                                <select data-name="category">
                                    <option selected value="empty">Выберите жанр</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="anime-list__block__filter__container__item">
                            <div class="anime-list__block__filter__container__item__header">
                                <p>Год выпуска</p>
                            </div>
                            <div class="anime-list__block__filter__container__item__select">
                                <select data-name="year">
                                    <option selected value="empty">Выберите год выпуска</option>
                                    {% for year in 2010..2021 %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="anime-list__block__filter__container__item">
                            <div class="anime-list__block__filter__container__item__header">
                                <p>Тип</p>
                            </div>
                            <div class="anime-list__block__filter__container__item__select">
                                <select data-name="type">
                                    <option selected value="empty">Выберите тип</option>
                                    <option value="ТВ Сериал">ТВ Сериал</option>
                                    <option value="Полнометражный фильм">Полнометражный фильм</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let MainComponentApp = new MainComponent();
        const swiper = new Swiper('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
        });
    </script>
{% endblock %}