{% extends 'base.html.twig' %}

{% block title %}LampStudio{% endblock %}

{% block body %}
    <div class="recommendations-block">
        <div class="recommendations-block__container">
            <div class="recommendations-block__container__list">
                <div class="recommendations-block__container__list__poster">
                    <img src="/public/markup/build/img/anime_poster.png">
                </div>
                <div class="recommendations-block__container__list__poster">
                    <img src="/public/markup/build/img/anime_poster.png">
                </div>
                <div class="recommendations-block__container__list__poster">
                    <img src="/public/markup/build/img/anime_poster.png">
                </div>
            </div>
            <div class="recommendations-block__container__text">
                <h2>САМЫЙ КРУТОЙ СЕРИАЛ</h2>
                <p>МОЖЕТ Я ВСТРЕЧУ ТЕБЯ В ПОДЗЕМЕЛЬЕ</p>
                <h3>МНОГОГОЛОСАЯ ОЗВУЧКА</h3>
            </div>
        </div>
    </div>
    {% if newSerials|length %}
        <div class="new-block">
            <div class="__container">
                <div class="lamp-content">
                    <div class="new-block__header">
                        <h2>НОВИНКИ</h2>
                    </div>
                    <div class="new-block__section">
                        {% for serial in newSerials %}
                            <div class="new-block__section__item">
                                <a href="{{ url('anime_player', {id: serial.id}) }}">
                                    <img src="{{ serial.posterURL }}">
                                </a>
                                <div class="new-block__section__item__header">
                                    <h2><a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.name }}</a></h2>
                                    <h3><a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.nameOrig }}</a></h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="anime-list__block">
        <div class="__container">
            <div class="flex-row">
                <div>
                    <div class="anime-list__block__header">
                        <h2>СПИСОК АНИМЕ</h2>
                    </div>
                    <div class="anime-list__block__section">
                        {% for serial in recommendations %}
                            <div class="anime-list__block__section__item">
                                <a href="{{ url('anime_player', {id: serial.id}) }}">
                                    <img src="{{ serial.posterURL }}" class="anime-list__block__section__item__image">
                                </a>
                                <div class="anime-list__block__section__item__detail">
                                    <div class="anime-list__block__section__item__detail__header">
                                        <h2><a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.name }}</a>
                                        </h2>
                                        <h2>
                                            <a href="{{ url('anime_player', {id: serial.id}) }}">{{ serial.nameOrig }}</a>
                                        </h2>
                                    </div>
                                    <div class="anime-list__block__section__item__detail__genre">
                                        <h3>ЖАНРЫ:
                                            {% for genre in serial.category %}
                                                {{ genre.name }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </h3>
                                    </div>
                                    <div class="anime-list__block__section__item__detail__description">
                                        <h3>{{ serial.shortDescription }}</h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="anime-list__block__container">
                        <button class="anime-list__block__container__button"><a href="{{ url('anime') }}">Полный список аниме</a>
                        </button>
                    </div>
                </div>
                <div class="anime-list__block__filter">
                    <div class="anime-list__block__filter__header-block">
                        <h3>ФИЛЬТР</h3>
                        <div class="anime-list__block__filter__header-block__figure-up"></div>
                    </div>
                    <div class="anime-list__block__filter__container">
                        <div class="anime-list__block__filter__container__item">
                            <div class="anime-list__block__filter__container__item__header">
                                <p>Жанры</p>
                            </div>
                            <div class="anime-list__block__filter__container__item__select">
                                <select>
                                    <option selected disabled>Выберите жанр</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                </select>
                            </div>
                        </div>
                        <div class="anime-list__block__filter__container__item">
                            <div class="anime-list__block__filter__container__item__header">
                                <p>Жанры</p>
                            </div>
                            <div class="anime-list__block__filter__container__item__select">
                                <select>
                                    <option selected disabled>Выберите жанр</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                </select>
                            </div>
                        </div>
                        <div class="anime-list__block__filter__container__item">
                            <div class="anime-list__block__filter__container__item__header">
                                <p>Жанры</p>
                            </div>
                            <div class="anime-list__block__filter__container__item__select">
                                <select>
                                    <option selected disabled>Выберите жанр</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                </select>
                            </div>
                        </div>
                        <div class="anime-list__block__filter__container__item">
                            <div class="anime-list__block__filter__container__item__header">
                                <p>Жанры</p>
                            </div>
                            <div class="anime-list__block__filter__container__item__select">
                                <select>
                                    <option selected disabled>Выберите жанр</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                    <option>Аниме</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}